<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">

            <!-- Header -->
            <div class="row">
                <div class="col-md-12" style="margin-top: -15px; margin-bottom: 5px">
                    <h4 style="color: #049f88">Tin nhắn</h4>
                    <div class="divider-holizon" style="margin-top: -8px; opacity: 0.8"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <!-- Message content -->
                    <div class="row">
                        <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                            <div class="row">
                                <div class="col-xs-2">
                                    <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <!-- Avata -->
                                        <div class="col-xs-8">
                                            <a href="" class="mess_owner">Trương Bá Long</a>
                                        </div>
                                        <!-- Time -->
                                        <div class="col-xs-4" style="text-align: right">
                                            <label class="mess_time">1 mới</label>
                                        </div>
                                    </div>
                                    <!-- Detail -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="mess-content">
                                                @@! Thật á!
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message content -->
                    <div class="row">
                        <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                            <div class="row">
                                <div class="col-xs-2">
                                    <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <!-- Avata -->
                                        <div class="col-xs-8">
                                            <a href="" class="mess_owner">Trần Duy Linh</a>
                                        </div>
                                        <!-- Time -->
                                        <div class="col-xs-4" style="text-align: right">
                                            <label class="mess_time">1 mới</label>
                                        </div>
                                    </div>
                                    <!-- Detail -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="mess-content">
                                                Nhớ tối nay tập trung ở cổng Dom D đấy nhé.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message content -->
                    <div class="row">
                        <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                            <div class="row">
                                <div class="col-xs-2">
                                    <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <!-- Avata -->
                                        <div class="col-xs-8">
                                            <a href="" class="mess_owner">Trương Thị Lý</a>
                                        </div>
                                        <!-- Time -->
                                        <div class="col-xs-4" style="text-align: right">
                                            <label class="mess_time">1 mới</label>
                                        </div>
                                    </div>
                                    <!-- Detail -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="mess-content">
                                                Kế hoạch cậu làm đến đâu rồi?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message content -->
                    <div class="row">
                        <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                            <div class="row">
                                <div class="col-xs-2">
                                    <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <!-- Avata -->
                                        <div class="col-xs-8">
                                            <a href="" class="mess_owner">Nguyễn Văn Nam</a>
                                        </div>
                                        <!-- Time -->
                                        <div class="col-xs-4" style="text-align: right">
                                            <label class="mess_time">1 mới</label>
                                        </div>
                                    </div>
                                    <!-- Detail -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="mess-content">
                                                Xem qua plan và nhận việc nhé.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message content -->
                    <div class="row">
                        <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                            <div class="row">
                                <div class="col-xs-2">
                                    <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <!-- Avata -->
                                        <div class="col-xs-8">
                                            <a href="" class="mess_owner">Trần Thị Hoài</a>
                                        </div>
                                        <!-- Time -->
                                        <div class="col-xs-4" style="text-align: right">
                                            <label class="mess_time">1 mới</label>
                                        </div>
                                    </div>
                                    <!-- Detail -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="mess-content">
                                                Dạo này có tham gia dự án nào nữa k?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chat panel -->
                <div class="col-sm-8">
                    <div class="sub-container">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: -15px; margin-bottom: 5px">
                                <h4 style="color: #049f88">Trương Bá Long</h4>
                                <div class="divider-holizon" style="margin-top: -8px; opacity: 0.8"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>