@if (ViewBag.Role == "Leader")
{
    @Html.Partial("_PostCreate")
}
<div id="postList">
    @{Html.RenderAction("GetPostList_InPublic", "Group", new { groupID = ViewBag.GroupID });}
</div>
<div class="panel-footer" style="text-align: center">
    <a role="public" id="@("loadMore" + ViewBag.GroupID)" href="" onclick="@("loadMorePostInPublic(event,'" + ViewBag.GroupID +"', this.getAttribute('role'))")">Load more</a>
</div>