@{  string actionName = ViewBag.Action;
    string controller = ViewBag.Controller;
    ViewBag.Title = "Upload Image";
    }
@using(Html.BeginForm(actionName, controller, new { id = ViewBag.ID }, FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="Image" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}
@ViewBag.Message