<div>
    @Html.ActionLink("Quản lý sự kiện","ListProject","Admin", new { skip = 0, number = 10},null)
</div>
<div>
    @Html.ActionLink("Quản lý nhóm", "ListGroup", "Admin", new { skip = 0, number = 10 }, null)
</div>
<div>
    @Html.ActionLink("Quản lý tài khoản", "ListAccount", "Admin", new { skip = 0, number = 10 }, null)
</div>
