<div>
    @Html.ActionLink("Quản lý sự kiện","ListProject","Admin", new { page = 1},null)
</div>
<div>
    @Html.ActionLink("Quản lý nhóm", "ListGroup", "Admin", new { page = 1}, null)
</div>
<div>
    @Html.ActionLink("Quản lý tài khoản", "ListAccount", "Admin", new { page = 1}, null)
</div>
