<!-- Notification content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="noti_owner">Trương Bá Long</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="noti_time">3:11 PM</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="noti-content">
                            Đã bình luận về bài đăng của bạn trong
                            <a href="">Tôi Tình Nguyện</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="noti_owner">Nguyễn Minh Đức</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="noti_time">2:17 PM</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="noti-content">
                            Đã bình luận về một bài đăng trong
                            <a href="">Tôi Tình Nguyện</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="noti_owner">Nguyễn Duy Linh</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="noti_time">1:53 PM</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="noti-content">
                            Đã đăng một bài mới trong <strong>Dự án</strong>
                            <a href="">Thu Gom Vỏ Chai</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="noti_owner">Thu Gom Vỏ Chai</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="noti_time">1:47 PM</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="noti-content">
                            Đã đăng một bài mới trên trang của họ
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="noti_owner">Thu Gom Vỏ Chai</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="noti_time">1:47 PM</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="noti-content">
                            Đã đăng một bài mới trên trang của họ
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>