@model iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink

<div class="card">
    <div class="card-image">
@if (ViewBag.CanChange == "true")
{
    <a href="@Url.Action("ChangeCover", Model.Handler, new { id = Model.ID })">
        <img src=@Model.Get_CoverLink() height="250px" style="object-fit: cover;">
    </a>
    <div class="col-md-3 card-ava">
        <div class="row">
            <div class="col-sm-12">
                <a href="@Url.Action("ChangeAvatar", Model.Handler, new { id = Model.ID })">
                    <img src=@Model.Get_AvatarLink()>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center">
             <h4 style="text-shadow: 2px 2px 6px #69656E;">@Model.DisplayName</h4>
        </div>
    </div>

}
else
{ 
    <img src=@Model.Get_CoverLink() height="250px" style="object-fit: cover;">
    <div class="col-md-3 card-ava">
        <div class="row">
            <div class="col-sm-12">
                <img src=@Model.Get_AvatarLink()>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <h4 style="text-shadow: 2px 2px 6px #69656E;">@Model.DisplayName</h4>
        </div>
    </div>
}
    </div>
</div>
