<div class="row">

    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0;; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Account");}
        </div>
                }

    <div class="col-md-9" id="main_content">
        <!-- Result Counter -->
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
            <div class="row">
                <div class="col-md-12">
                    <h4>1 Bạn bè tìm thấy cho "Nguyễn Minh Đức"</h4>
                </div>
            </div>
        </div>

        <!-- Group 1 -->
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <!-- Avata -->
                        <div class="col-sm-2">
                            <img src="images/duc-avata.jpg" style="width: 100%; height: calc(width)">
                        </div>

                        <!-- Detail -->
                        <div class="col-sm-6">
                            <div class="row">
                                <a href="project.html" style="font-weight: bold; color: #049f88">Nguyễn Minh Đức</a>
                            </div>
                            <div class="row">
                                <label style="font-weight: normal">Đại học FPT</label>
                            </div>
                            <div class="row">
                                <label style="font-weight: normal">4 bạn chung</label>
                            </div>

                            <!-- Interaction Button -->
                            <div class="row">
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-18 md md-mygreen">person_add</i>
                                    Thêm bạn
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-mygreen md-18">forum</i>
                                    Nhắn tin
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-mygreen md-18">star</i>
                                    Theo dõi
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>