<div class="row">

    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0;; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Account");}
        </div>
                }
    
    <div class="col-md-9" id="main_content">
        <!-- Result Counter -->
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
            <div class="row">
                <div class="col-md-8">
                    <h4>1 Dự án tìm thấy cho "Vỏ Chai"</h4>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    <h4 style="color: #049f88; font-weight: bold; cursor: pointer;" id="advance-search">TÌM KIẾM NÂNG CAO</h4>
                    <h4 style="color: #ccc; font-weight: bold; cursor: pointer; display: none" id="advance-search-close">HỦY</h4>
                </div>
            </div>
        </div>

        <!-- Advance Search -->
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0; display: none" id="advance-search-panel">
            <div class="row">
                <div class="col-md-12" style="margin-top: -20px">
                    <h4 style="color: #049f88">Tìm kiếm nâng cao</h4>
                    <div class="divider-holizon" style="margin-top: -8px"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!--form role="form" class="login-form"> -->
                    <form class="register-form" style="margin-top: 30px">
                        <!-- Project Name -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="projectName">Tên dự án:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                <input id="projectName" class="form-control" placeholder="Tên dự án...">
                            </div>
                        </div>

                        <!-- Date Start -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="dateStart">Ngày bắt đầu:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                <input id="dateStart" class="form-control" placeholder="Ngày bắt đầu..." type="date">
                            </div>
                        </div>

                        <!-- Date End-->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="dateEnd">Ngày kết thúc:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                <input id="dateEnd" class="form-control" placeholder="Ngày kết thúc..." type="date">
                            </div>
                        </div>

                        <!-- Project Tags -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="projectTags">Tags:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                <input id="projectTags" class="form-control" placeholder="Tags...">
                            </div>
                        </div>

                        <!-- Project Place -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="projectPlace">Place:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                <input id="projectPlace" class="form-control" placeholder="Địa điểm...">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="row" style="margin-top: 30px">
                            <div class="col-xs-2 col-xs-offset-5 text-input">
                                <button type="submit" class="btn btn-register">TÌM KIẾM</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <!-- Avata -->
                        <div class="col-sm-3">
                            <img src="images/5.jpg" style="width: 100%; height: calc(width)">
                        </div>

                        <!-- Content -->
                        <div class="col-sm-9">
                            <div class="row">
                                <a href="project.html" style="font-weight: bold; color: #049f88">Thu Gom Vỏ Chai Đại Học FPT</a>
                            </div>
                            <div class="row">
                                <label style="font-weight: normal">Dự án thu gom chai lọ nhựa không dùng nữa ở Đại học FPT</label>
                            </div>
                            <div class="row">
                                <table style="font-size: 14px;" width="60%">
                                    <tr>
                                        <td style="color: #049f88;">ĐỊA ĐIỂM</td>
                                        <td>Đại học FPT</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #049f88;">LĨNH VỰC</td>
                                        <td>Môi trường, Con người</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #049f88;">THỜI GIAN</td>
                                        <td>Tháng 7 - Tháng 12/2016</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #049f88;">LIÊN HỆ</td>
                                        <td>quyvochai@gmail.com</td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Interaction Button -->
                            <div class="row" style="margin-top: 10px">
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-mygreen">attach_money</i> Quyên góp
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-mygreen">group_add</i> Tham gia
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-mygreen">mail_outline</i> Liên hệ
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <i class="material-icons md-mygreen">star</i> Theo dõi
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>