@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink>

<div class="card-panel">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Nhóm đã tham gia</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Group -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
@foreach (var item in Model)
{
                <li><a href="@Url.Action("GroupHome",item.Handler, new { groupID = item.ID })">@item.DisplayName</a></li>
}
            </ul>
        </div>
    </div>
    <!-- Add New Group -->
    <div class="row" style="text-align: right">
        <button class="btn-addnew" style="margin: 10px 15px 0px 10px;" data-container="body" rel="tooltip" data-toggle="modal" title="Tạo nhóm mới" data-placement="left" data-target="#createGroupForm">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>