@model iVolunteer.Models.ViewModel.SearchModel
@{
    ViewBag.Title = "Kết quả tìm kiếm";
}
<div class="row">

    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Account");}
        </div>
                }
    
    <div class="col-md-9" id="main_content">
        <!-- Advance Search -->
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0" id="advance-search-panel">
            <div class="row">
                <div class="col-md-12" style="margin-top: -20px">
                    <h4 style="color: #049f88">Tìm kiếm nâng cao</h4>
                    <div class="divider-holizon" style="margin-top: -8px"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!--form role="form" class="login-form"> -->
                    @using (Ajax.BeginForm("AdvancedSearchProject", "Project", null, new AjaxOptions { UpdateTargetId = "result-content", InsertionMode = InsertionMode.Replace }))
                    {
                        <!-- Project Name -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="projectName">Tên dự án:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "projectName", @class = "form-control", @placeholder = "Tên dự án..." } })
                            </div>
                        </div>

                        <!-- Date Start -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="dateStart">Ngày bắt đầu:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @id = "dateStart", @class = "form-control", @placeholder = "Ngày bắt đầu...", @type = "date" } })
                            </div>
                        </div>

                        <!-- Date End-->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="dateEnd">Ngày kết thúc:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @id = "dateEnd", @class = "form-control", @placeholder = "Ngày kết thúc...", @type = "date" } })
                            </div>
                        </div>

                        <!-- Project Place -->
                        <div class="row">
                            <div class="col-xs-4 register-label">
                                <label for="projectPlace">Địa điểm:</label>
                            </div>
                            <div class="col-xs-5 text-input">
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @id = "location", @class = "form-control", @placeholder = "Địa điểm" } })
                            </div>
                        </div>

                        <!--Tag checkbox list-->
                        <div class="col-sm-4 col-xs-7" style="margin-top: 5px; margin-bottom: 5px">
                            <div class="row">
                                <p class="row">Chủ đề tình nguyện</p>
                                <div>
                                    <input type="checkbox" class="row" value="Giáo dục" name="tagsList" />Giáo dục
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Văn hóa" name="tagsList" />Văn hóa
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Y tế" name="tagsList" />Y tế
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Xã hội" name="tagsList" />Xã hội
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Môi trường" name="tagsList" />Môi trường
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Du lịch" name="tagsList" />Du lịch
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Thể thao" name="tagsList" />Thể thao
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-7" style="margin-top: 5px; margin-bottom: 5px">
                            <div class="row">
                                <p class="row">Đối tượng hướng đến</p>
                                <div>
                                    <input type="checkbox" class="row" value="Trẻ em" name="tagsList"  />Trẻ em
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Người nghèo" name="tagsList" />Người nghèo
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Người khuyết tật" name="tagsList" />Người khuyết tật
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Vùng thiên tai" name="tagsList" />Vùng thiên tai
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Động vật" name="tagsList" />Động vật
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-7" style="margin-top: 5px; margin-bottom: 5px">
                            <div class="row">
                                <p class="row">Hình thức hoạt động</p>
                                <div>
                                    <input type="checkbox" class="row" value="Ủng hộ" name="tagsList" />Ủng hộ
                                </div>
                                <div>
                                    <input type="checkbox" class="row" value="Đi thực tế" name="tagsList" />Đi thực tế
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-7" style="margin-top: 5px; margin-bottom: 5px">
                            <div class="row">
                                <p class="row">Trạng thái</p>
                                <div>
                                    <input type="radio" class="row" value="true" name="progress" checked/>Chưa kết thúc
                                    <input type="radio" class="row" value="false" name="progress" />Đã kết thúc
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="row" style="margin-top: 30px">
                            <div class="col-xs-2 col-xs-offset-5 text-input">
                                <input type="hidden" value="1" name="page" />
                                <button type="submit" class="btn btn-register">TÌM KIẾM</button>
                            </div>
                        </div>
                        }
                </div>
            </div>
        </div>
        <div id="result-content">
            @{ Html.RenderAction("NextResultPage", "Project", new { page = 1 });}
        </div>
    </div>
</div>