@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink>

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đang tham gia</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Project -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
</div>