@if (ViewBag.Role == "Leader")
{
    @Html.Partial("_PostCreate")
}
<div id="pinnedPost">
    @{Html.RenderAction("GetPinnedPost_InPublic", "Group", new { groupID = ViewBag.GroupID });}
</div>
<div id="postList">
    @{Html.RenderAction("GetPostList_InPublic", "Group", new { groupID = ViewBag.GroupID });}
</div>
<a id="loadMorePost" href="" onclick="@("loadMorePostInPublic(event,'" + ViewBag.GroupID +"', this.getAttribute('role'))")"></a>
