@using iVolunteer.Common


@if (ViewBag.IsLeader == true)
{
    if (ViewBag.IsPinned == true)
    {
        @Ajax.RawActionLink("<span class='glyphicon glyphicon-pushpin'></span>", "UnpinPost", "Project", new { postID = ViewBag.PostID, projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn-card", @style = "color: #e1b725;" })
    }
    else
    {
        @Ajax.RawActionLink("<span class='glyphicon glyphicon-pushpin'></span>", "PinPost", "Project", new { postID = ViewBag.PostID, projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn-card", @style = "color: #cecece;" })
    }
    @Ajax.RawActionLink("<span class='glyphicon glyphicon-trash'></span>", "DeletePost", "Project", new { postID = ViewBag.PostID, ProjectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn-card", @style = "color: #cecece;" })

}
@if(ViewBag.IsOwner == true && ViewBag.IsLeader == false)
{
    @Ajax.RawActionLink("<span class='glyphicon glyphicon-trash'></span>", "DeletePost", "Project", new { postID = ViewBag.PostID, ProjectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn-card", @style = "color: #cecece;" })
}

