@if (ViewBag.Role == "Leader" || ViewBag.Role == "Member" || ViewBag.Role == "GuestUser")
{
    Html.RenderAction("AlbumShowAddCommentArea", "Project", new { albumID = ViewBag.AlbumID, projectID = ViewBag.ProjectID });
}
<div id="@("commentList" + ViewBag.AlbumID)" class="commentList">
    <div class="col-md-12 col-sm-12" style="padding-left: 5%;">
        @if (ViewBag.CommentCount != "0")
        {
            @Ajax.ActionLink("Xem bình luận", "AlbumGetCommentList", "Project", new { albumID = ViewBag.AlbumID, projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "commentList" + ViewBag.AlbumID, InsertionMode = InsertionMode.Replace }, new { @id = "showComment" + ViewBag.AlbumID, @style = "color:#9BCABA" })
        }
    </div>
</div>


