<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    @Ajax.ActionLink("TẠO BỘ ẢNH MỚI...", "CreateAlbum", "Project", new { targetID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "popup-content", OnBegin = "OnBeginPopup('#popup-content','#popup')" }, new { @style = "font-size: 15px;font-weight: bold; margin-top:10px" })
</div>
<div id="albumList">
    @{Html.RenderAction("GetAlbumList", "Project", new { projectID = ViewBag.ProjectID });}
</div>