@if (ViewBag.Role == "Leader")
{
    @Html.Partial("_PostCreate")
}
<div id="pinnedPost">
    @{Html.RenderAction("GetPinnedPost_InPublic", "Project", new { groupID = ViewBag.GroupID });}
</div>
<div id="postList">
    @{Html.RenderAction("GetPostList_InPublic", "Project", new { projectID = ViewBag.ProjectID });}
</div>

    <a id="loadMorePost" href="" onclick="@("loadMorePostInPublicProject(event,'" + ViewBag.ProjectID +"', this.getAttribute('role'))")"></a>