@if (Session["Role"].ToString() == "User")
{
    @Html.Partial("_PostCreate")
}
<div id="pinnedPost">
    @{Html.RenderAction("GetPinnedPost", "Project", new { projectID = ViewBag.ProjectID });}
</div>
<div id="postList">
    @{Html.RenderAction("GetPostList", "Project", new { projectID = ViewBag.ProjectID });}
</div>
<a id="loadMorePost" href="" onclick="@("loadMorePostProject(event,'" + ViewBag.ProjectID +"', this.getAttribute('role'))")"></a>