<!-- Write post -->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <form class="form-group" style="margin-bottom: 0;">
        <div class="row nav-project">
            <textarea type="text" class="write-post-txt" placeholder="Chia sẻ của bạn..."></textarea>
        </div>
        <div class="row" style="margin-top: 10px">
            <!-- Post button -->
            <div class="col-md-10" style="text-align: right">
                <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Ảnh"><i class="material-icons">landscape</i></button>
                <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Chèn link"><i class="material-icons">insert_link</i></button>
                <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Tag"><i class="material-icons md-18">local_offer</i></button>
                <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Địa Điểm"><i class="material-icons md-20">place</i></button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-post" type="submit">ĐĂNG BÀI</button>
            </div>
        </div>
    </form>
</div>
<!--  Text Post -->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <!-- Post Owner -->
            <table class="table-post-ava">
                <tr>
                    <td rowspan="2"><img src="../images/quyvochai.jpg" width="40" height="40"></td>
                    <td class="td">
                        <a href="" class="user-name">Thu gom vỏ chai</a>
                    </td>
                </tr>
                <tr>
                    <td class="td" style="color: gray; font-size:90%">16 minutes</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Post Content -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card-content">
                <p>Hôm nay, từ 7h30 bọn mình sẽ đi thu chai nhựa ở tất cả các Dom. Ai có chai lọ gì thì tập trung lại hộ bọn mình nhé.<br><br>Cám ơn mọi người.<br>--- Duy Linh ---</p>
            </div>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- Interaction Panel -->
    <div class="row">
        <!-- Interaction Button -->
        <div class="col-md-6 col-sm-6">
            <button type="button" class="btn-card" aria-label="Left Align">
                <span class="glyphicon glyphicon-heart-empty"></span>
                Like
            </button>
            <button type="button" class="btn-card" aria-label="Left Align">
                <span class="glyphicon glyphicon-comment"></span>
                Comment
            </button>
        </div>
        <!-- Interaction Counter -->
        <div class="col-md-6 col-sm-6" style="text-align: right">
            <div class="row">
                <ul class="list-interaction">
                    <li>
                        <i class="glyphicon glyphicon-heart"></i>
                        <span><strong>15</strong></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-comment"></i>
                        <span><strong>1</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- Comment -->
    <div class="row">
        <div class="col-md-1 col-sm-1">
            <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <a href="" class="user-name">Nguyễn Minh Ngọc</a>
                <span>&bull; 5 phút trước</span>
            </div>
            <div class="row">
                <p>Mình đợi các cậu cả tuần nay rồi...</p>
            </div>
        </div>
    </div>
    <!-- Comment -->
    <div class="row">
        <div class="col-md-1 col-sm-1">
            <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <a href="" style="color: #049f88; font-weight: bold">Võ Tôn Phúc</a>
            </div>
            <div class="row">
                <input type="text" class="text-comment" placeholder="Write a comment...">
            </div>
            <div class="row">
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--  Text Post -->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <!-- Post Owner -->
            <table class="table-post-ava">
                <tr>
                    <td rowspan="2"><img src="../images/quyvochai.jpg" width="40" height="40"></td>
                    <td class="td">
                        <a href="" class="user-name">Thu gom vỏ chai</a>
                    </td>
                </tr>
                <tr>
                    <td class="td" style="color: gray; font-size:90%">16 minutes</td>
                </tr>
            </table>
        </div>
        <!-- Navigation button -->
        <div class="col-sm-5 col-md-5" style="text-align: right;">
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Collapse"><i class="glyphicon glyphicon-menu-right"></i></button>
        </div>
    </div>
    <!-- Post Content -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card-content">
                <p>Hôm nay chúng ta sẽ tiếp tục làm sản phẩm hand made nhé mọi người.</p>
            </div>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- Interaction Panel -->
    <div class="row">
        <!-- Interaction Button -->
        <div class="col-md-6 col-sm-6">
            <button type="button" class="btn-card" aria-label="Left Align">
                <span class="glyphicon glyphicon-heart-empty"></span>
                Like
            </button>
            <button type="button" class="btn-card" aria-label="Left Align">
                <span class="glyphicon glyphicon-comment"></span>
                Comment
            </button>
        </div>
        <!-- Interaction Counter -->
        <div class="col-md-6 col-sm-6" style="text-align: right">
            <div class="row">
                <ul class="list-interaction">
                    <li>
                        <i class="glyphicon glyphicon-heart"></i>
                        <span><strong>15</strong></span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-comment"></i>
                        <span><strong>0</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- Comment -->
    <div class="row">
        <div class="col-md-1 col-sm-1">
            <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <a href="" style="color: #049f88; font-weight: bold">Võ Tôn Phúc</a>
            </div>
            <div class="row">
                <input type="text" class="text-comment" placeholder="Write a comment...">
            </div>
            <div class="row">
                <div></div>
            </div>
        </div>
    </div>
</div>

