<!-- Message content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="mess_owner">Trương Bá Long</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="mess_time">1 mới</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="mess-content">
                            @@! Thật á!
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="mess_owner">Trần Duy Linh</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="mess_time">1 mới</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="mess-content">
                            Nhớ tối nay tập trung ở cổng Dom D đấy nhé.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="mess_owner">Trương Thị Lý</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="mess_time">1 mới</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="mess-content">
                            Kế hoạch cậu làm đến đâu rồi?
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="mess_owner">Nguyễn Văn Nam</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="mess_time">1 mới</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="mess-content">
                            Xem qua plan và nhận việc nhé.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="mess_owner">Trần Thị Hoài</a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="mess_time">1 mới</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="mess-content">
                            Dạo này có tham gia dự án nào nữa k?
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message content -->
<div class="row">
    <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
        <div class="row">
            <div class="col-xs-2">
                <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <!-- Avata -->
                    <div class="col-xs-8">
                        <a href="" class="mess_owner">Vũ Thị Nga<a>
                    </div>
                    <!-- Time -->
                    <div class="col-xs-4" style="text-align: right">
                        <label class="mess_time">1 mới</label>
                    </div>
                </div>
                <!-- Detail -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="mess-content">
                            Ồ.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>