<!-- Comment -->
<div class="row">
    <div class="col-md-1 col-sm-1">
        <object type="image/svg+xml" data="~/images/avatar.svg" width="40" height="40" border="1"></object>
    </div>

    <div class="col-md-9 col-sm-9">
        <div class="row">
            <a href="" style="color: #049f88; font-weight: bold">Võ Tôn Phúc</a>
        </div>
        <div class="row">
            <input type="text" class="text-comment" placeholder="Write a comment...">
        </div>
        <div class="row">
            <div></div>
        </div>
    </div>
</div>