<div class="divider-holizon"></div>

<!-- Interaction Panel -->
<div class="row">

    <!-- Interaction Button -->
    <div class="col-md-6 col-sm-6">
        <button type="button" class="btn-card" aria-label="Left Align">
            <span class="glyphicon glyphicon-heart-empty"></span> Like
        </button>
        <button type="button" class="btn-card" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment"></span> Comment
        </button>
    </div>

    <!-- Interaction Counter -->
    <div class="col-md-6 col-sm-6" style="text-align: right">
        <div class="row">
            <ul class="list-interaction">
                <li>
                    <i class="glyphicon glyphicon-heart"></i>
                    <span><strong>15</strong></span>
                </li>
                <li>
                    <i class="glyphicon glyphicon-comment"></i>
                    <span><strong>1</strong></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="divider-holizon"></div>