<!-- Post Content -->
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card-content">
            <p>
                Hôm nay, từ 7h30 bọn mình sẽ đi thu chai nhựa ở tất cả các Dom. Ai có chai lọ gì thì tập trung lại hộ bọn mình nhé.
                <br>
                <br>Cám ơn mọi người.
                <br>--- Duy Linh ---
            </p>
        </div>
    </div>
</div>