<!--Leader-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row">
        <div class="col-sm-12" style="margin-top: -20px">
            <h4>Bạn bè</h4>
            <div class="divider-holizon"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <ul class="nav sub-nav-tabs">
                <li class="active" data-type="member" data-toggle="tab">
                    @Ajax.ActionLink("BẠN BÈ", "FriendList", "User", new { userID = ViewBag.UserID }, new AjaxOptions { UpdateTargetId = "content-panel", InsertionMode = InsertionMode.Replace }, null)
                </li>
                @if (ViewBag.IsMyHome == true)
                {
                    <li data-type="request" data-toggle="tab">
                        @Ajax.ActionLink("LỜI MỜI KẾT BẠN", "FriendRequestList", "Account", null, new AjaxOptions { UpdateTargetId = "content-panel", InsertionMode = InsertionMode.Replace }, null)
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="tab-content" id="content-panel">
        <div id="content-panel" class="tab-pane fade in active">
            @{ Html.RenderAction("FriendList", "User", new { userID = ViewBag.UserID });
            }
        </div>
    </div>
</div>

