@using (Html.BeginForm())
{
    <div class="container" style="margin-top: 50px">
        <div class="row background-container">
            <form class="register-form">

                <!--Form 2 -->
                <div id="register-form-2" class="row background-container">
                    <div class="col-md-9 col-md-offset-15">
                        <div class="card-panel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Quên mật khẩu?</h4>
                                </div>
                            </div>
                            <div class="divider-holizon"></div>
                            <div class="row">
                                <div col-sm-12>

                                    <!-- Caption -->
                                    <div class="row">
                                        <div class="col-sm-12" style="margin: 10px; text-align: center">
                                            <p>Bạn vô tình quên mật khẩu đăng nhập của mình <br>Hãy cung cấp Email đăng nhập của bạn cho chúng tôi.</p>
                                        </div>
                                    </div>

                                    <!-- Input Email -->
                                    <div class="row">
                                        <div class="col-xs-4 register-label">
                                            <label for="email">Email:</label>
                                        </div>
                                        <div class="col-xs-5 text-input">
                                            <input type="email" name="txtEmail" class="form-control" id="email" placeholder="Nhập Email ...">
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Gửi yêu cầu"><i class="material-icons">send</i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
}
