<!-- On this day task -->
<div class="col-sm-5" id="testplantarget">

    <!-- Day -->
    <div class="row" style="text-align: center">
        <div class="col-sm-12" style="margin-top:-30px; margin-bottom: -30px">
            <label class="lb-day-plan">22</label>
        </div>
    </div>

    <!-- Date -->
    <div class="row" style="text-align: center">
        <div class="col-sm-12">
            <label class="lb-date-plan">Thứ 4 22/06/2016</label>
        </div>
    </div>

    <!-- Task -->
    <div class="row">

        <ol class="list-task">
            <li>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="priolity low"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <input id="task1" type="checkbox">
                            <label for="task1">
                                Khởi động truyền thông và kick off dự án qua tất cả các kênh.
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul class="list-task-infor">
                            <li>
                                <i class="material-icons md-18 md-myred">access_time</i>
                                <span class="overdue">22:00</span>
                            </li>
                            <li>
                                <i class="material-icons md-18 md-mygreen">perm_identity</i>
                                <span class="pending">Nguyễn Trường Giang</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="priolity high"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <input id="task2" type="checkbox">
                            <label for="task2">
                                Lên kế hoạch chuẩn bị hậu cần.
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul class="list-task-infor">
                            <li>
                                <i class="material-icons md-18 md-mygreen">access_time</i>
                                <span class="pending">22:00</span>
                            </li>
                            <li>
                                <i class="material-icons md-18 md-mygreen">perm_identity</i>
                                <span class="pending">Nguyễn Trường Giang</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </li>
        </ol>

    </div>
</div>
