<div class="row">
    <div class="col-md-12">
        <div class="card-panel">
            <div class="carousel slide quote-carousel" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <img class="img-author" src="http://blackhistory-101.com/wp-content/uploads/2015/03/barack-obama-2.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-10">
                                    <p>The best way to not feel hopeless is to get up and do something. Don’t wait for good things to happen to you. If you go out and make some good things happen, you will fill the world with hope, you will fill yourself with hope.</p>
                                    <small>Barack Obama</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <img class="img-author" src="http://www.instructionbook.com/hjbbio.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-10">
                                    <p>Remember that the happiest people are not those getting more, but those giving more.</p>
                                    <small>H. Jackson Brown Jr.</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <img class="img-author" src="http://www.azquotes.com/public/pictures/authors/43/1e/431e35009315e12e385008eef6761d58/542520222828f_eva_hart.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-10">
                                    <p>I find that the critics of voluntary service are all too often those who are prepared to accept such services when they require them but deride them with cynicism and scepticism when they see others helping and being helped.</p>
                                    <small>Eva Hart</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>