@{
    ViewBag.Title = "iVolunteer";
}
<div class="row">
    <div class="col-md-3">
        @{Html.RenderAction("NavigationPanel", "Account");}
    </div>
    <div class="col-md-9" id="newfeedPostsArea">
        @{Html.RenderAction("LoadNewfeedPosts","Home");}
    </div>
    
</div>
