<div>
    @Html.ActionLink("Tạo nhóm tình nguyện", "CreateGroup", "Group")
</div>
<div>
    @Html.ActionLink("Tạo dự án tình nguyện", "CreateProject", "Project")
</div>
<div>
    @ViewBag.Message
</div>


