@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.PostInformation

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
        <form class="form-group" style="margin-bottom: 0;">
            <div class="row nav-project">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "write-post-txt", @placeholder = "Chia sẻ của bạn ..." } })
                <input type="image" name="Image" id="file"/>
            </div>
            <div class="row" style="margin-top: 10px">
                <!-- Post button -->
                <div class="col-md-2">
                    <input class="btn btn-post" type="submit" value="ĐĂNG BÀI"/>
                </div>
            </div>
        </form>
    </div>
}
