@model iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.MainTask
@{ 
    string idMainTaskName = "idMainTaskName" + Model.MainTaskID;
    DateTime date = DateTime.Today;
    TimeSpan span = Model.Duedate - date;
    int dateGap = span.Days;
}
<!-- Header -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-11">
            <h4 id="mytxt" style="font-weight: bold">@Model.Name</h4>
        </div>
        <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>
    <div class="divider-holizon"></div>
</div>

<div class="col-md-12" style="padding: 20px">
    <div class="row">
        <div class="col-sm-12">
            <label>Ngày hết hạn</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @if (dateGap >= 0)
            {
                <span class="badge is-complete">@Model.Duedate</span>
            }
            else
            {
                <span class="badge is-due-past">@Model.Duedate</span>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Mô tả</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label style="font-weight: normal">@MvcHtmlString.Create(Model.Description.Replace(Environment.NewLine, "<br />"))</label>
        </div>
    </div>
</div>


<!-- Detail -->
<div class="col-sm-12">
    <div class="row">
        <div class="col-md-12">
            <h4 style="font-weight: bold"><span class="glyphicon mygray glyphicon-check"></span> Danh sách công việc</h4>
            <div class="divider-holizon"></div>
        </div>
    </div>
    <ol class="list-task" id="subtaskList">
        @{ Html.RenderAction("ListSubTask", "Plan", new { planPhaseID = ViewBag.PlanPhaseID, userRole = ViewBag.UserRole, mainTaskID = ViewBag.MainTaskID });}
    </ol>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-md-12">
            <h4 style="font-weight: bold"><span class="glyphicon mygray glyphicon glyphicon-comment"></span> Bình luận</h4>
            <div class="divider-holizon"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("pass");
        $('#mytxt').click(function () {
            var txt = $('#').text();
            $('#mytxt').replaceWith("<input id='mytxt'/>");
            $("#mytxt").val(txt);
        });
    });
</script>


