<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">

            <!-- Header -->
            <div class="row">
                <div class="col-md-12" style="margin-top: -20px">
                    <h4 style="color: #049f88">Yêu cầu bạn bè</h4>
                    <div class="divider-holizon" style="margin-top: -8px"></div>
                </div>
            </div>

            <!-- Friend 1 -->
            <div class="row">
                <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                    <div class="row">
                        <div class="col-md-1">
                            <object type="image/svg+xml" data="images/avatar.svg" width="50" height="50" border="1"></object>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <a href="" class="noti-friend-name">Nguyễn Minh Ngọc</a>
                            </div>
                            <div class="row">
                                <label class="noti-friend-intro">Đại học FPT</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <i class="material-icons md-mygreen md-18">done</i> Đồng ý
                            </button>
                        </div>
                        <div class="col-md-2" style="padding: 0">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <i class="material-icons md-myred md-18">clear</i> Từ chối
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                    <div class="row">
                        <div class="col-md-1">
                            <object type="image/svg+xml" data="images/avatar.svg" width="50" height="50" border="1"></object>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <a href="" class="noti-friend-name">Bùi Thị Kiều Anh</a>
                            </div>
                            <div class="row">
                                <label class="noti-friend-intro">Đại học FPT</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <i class="material-icons md-mygreen md-18">done</i> Đồng ý
                            </button>
                        </div>
                        <div class="col-md-2" style="padding: 0">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <i class="material-icons md-myred md-18">clear</i> Từ chối
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="" style="margin-left: 15px; margin-right:15px; padding:10px">
                    <div class="row">
                        <div class="col-md-1">
                            <object type="image/svg+xml" data="images/avatar.svg" width="50" height="50" border="1"></object>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <a href="" class="noti-friend-name">Đỗ Hải Hồng</a>
                            </div>
                            <div class="row">
                                <label class="noti-friend-intro">Đại học FPT</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <i class="material-icons md-mygreen md-18">done</i> Đồng ý
                            </button>
                        </div>
                        <div class="col-md-2" style="padding: 0">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <i class="material-icons md-myred md-18">clear</i> Từ chối
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>