@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-md-12" style="margin: 20px auto">
        <div class="error-message" style="text-align: center">
            <h5>Có lỗi xảy ra, vui lòng thử lại sau ít phút</h5>
        </div>
    </div>
</div>

