@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-md-12" style="margin: 20px auto">
        <div class="error-message">
            <h5>@ViewBag.Message</h5>
        </div>
    </div>
</div>
