@model iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink

@{
    ViewBag.Title = Model.DisplayName;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0;; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Home");}
        </div>
    }
    <div class="col-md-9" id="main_content">
        @*-------------------Cover Photo----------------*@
        @{ Html.RenderAction("AvatarCover", "Group", new { groupID = Model.ID });}
        @*-------------------Navigation Bar----------------*@
        <div id="exTab1">
            <ul class="nav nav-tabs">
                <li class="col-md-2">
                    <!--<a id="publictab" href="@**@*@@Url.Action("DisplayPublic", "Project", new AjaxOptions {UpdateTargetId = "tabContent", InsertionMode = InsertionMode.Replace  })" data-toggle="tab">CÔNG KHAI</a>-->
                    @Ajax.ActionLink("Yêu cầu", "GroupRequests", "Group",new { groupID = Model.ID}, new AjaxOptions { UpdateTargetId = "group-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    @*<a id="discusstab" href="@Url.Action("DisplayDiscussion", "Project")" data-toggle="tab">THẢO LUẬN</a>*@
                    @Ajax.ActionLink("Discusison", "DisplayDiscussion", "Group", new AjaxOptions { UpdateTargetId = "group-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    <a id="budgettab" href="#member" data-toggle="tab">THÀNH VIÊN</a>
                </li>
                <li class="col-md-2">
                    <a id="gallerytab" href="#gallery" data-toggle="tab">THƯ VIỆN</a>
                </li>
                <li class="col-md-2">
                    <a id="information" href="#information" data-toggle="tab">THÔNG TIN</a>
                </li>
            </ul>
            <div id="panelContent" class="tab-content clearfix">
                <!-- Public Tab -->
                <div class="tab-pane active" id="group-tab">
                </div>
            </div>

        </div>
    </div>

</div>
