@model iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.TeamFoundDonator

@using (Ajax.BeginForm("IsReceiceMoneyChange", "Budget", new { fundID = ViewBag.FundID, isLeader = ViewBag.IsLeader, teamFoundDonatorID = ViewBag.TeamFoundDonatorID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "teamFoundDonatorDetails" }, new { @id = "formValidation", @class = "register-form", @style = "margin-top: 10px" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="checkbox">
            <input id="isReceive + '@ViewBag.TeamFoundDonatorID'" type="checkbox" name="cbxIsReceive" onclick="if (this.checked) { this.form.submit() }">
            <label for="isReceive + '@ViewBag.TeamFoundDonatorID'">

            </label>
        </div>
    </div>
}