@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink>

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Nhóm đang tham gia</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    
    <!-- List Project -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model)
                {
                                <li><a href="@Url.Action("GroupHome","Group", new { groupID = item.ID })">@item.DisplayName</a></li>
                                if (ViewBag.IsMyHome == true)
                                {
                                    @Html.ActionLink("Rời nhóm", "GroupResign", "Account", new { groupID = item.ID }, null);
                                }
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/images/5.jpg" style="width: 100%; height: calc(width)">
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <a href="project.html" style="font-weight: bold; color: #049f88">Quỹ Vỏ Chai</a>
                    </div>
                    <div class="row">
                        <label style="font-weight: normal">"Quỹ vỏ chai" là tổ chức phi lợi nhuận được thành lập bởi một nhóm sinh viên Đại học FPT ...</label>
                    </div>
                    <div class="row">
                        <table style="font-size: 14px;" width="60%">
                            <tr>
                                <td style="color: #049f88;">THÀNH VIÊN</td>
                                <td>32 thành viên</td>
                            </tr>
                            <tr>
                                <td style="color: #049f88;">DỰ ÁN</td>
                                <td>Thu Gom Vỏ Chai Đại Học FPT</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider-holizon"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/images/5.jpg" style="width: 100%; height: calc(width)">
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <a href="project.html" style="font-weight: bold; color: #049f88">Quỹ Vỏ Chai</a>
                    </div>
                    <div class="row">
                        <label style="font-weight: normal">"Quỹ vỏ chai" là tổ chức phi lợi nhuận được thành lập bởi một nhóm sinh viên Đại học FPT ...</label>
                    </div>
                    <div class="row">
                        <table style="font-size: 14px;" width="60%">
                            <tr>
                                <td style="color: #049f88;">THÀNH VIÊN</td>
                                <td>32 thành viên</td>
                            </tr>
                            <tr>
                                <td style="color: #049f88;">DỰ ÁN</td>
                                <td>Thu Gom Vỏ Chai Đại Học FPT</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>