@model iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink

@{
    ViewBag.Title = Model.DisplayName;
}

<div class="row">
    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0;; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Account");}
        </div>
                }
    <div class="col-md-9" id="main_content">
        @*-------------------Cover Photo----------------*@
        @{ Html.RenderAction("AvatarCover", "User", new { userID = Model.ID });}
        @*-------------------Navigation Bar----------------*@
        <div id="exTab1">
            <ul class="nav nav-tabs">
                <li class="col-md-2 active">
                    <!--<a id="publictab" href="@**@*@@Url.Action("DisplayPublic", "Project", new AjaxOptions {UpdateTargetId = "tabContent", InsertionMode = InsertionMode.Replace  })" data-toggle="tab">CÔNG KHAI</a>-->
                    @*@Ajax.ActionLink("Thông tin", "UserInformation", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace })*@
                    <a id="publictab" href="#user-info" data-toggle="tab">THÔNG TIN</a>
                </li>
                <li class="col-md-2">
                   @*Ajax.ActionLink("Bạn bè", "FriendList", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-group", InsertionMode = InsertionMode.Replace })*@
                    <a id="friendtab" href="#user-friend" data-toggle="tab">BẠN BÈ</a>
                </li>
                <li class="col-md-2">
                    @*<a id="discusstab" href="@Url.Action("DisplayDiscussion", "Project")" data-toggle="tab">THẢO LUẬN</a>*@
                    @*@Ajax.ActionLink("Nhóm", "JoinedGroups", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace }) *@
                    <a id="grouptab" href="#user-group" data-toggle="tab">NHÓM</a>
                </li>
                <li class="col-md-2">
                    @*@Ajax.ActionLink("Hoạt động", "ActivityHistory", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace })*@
                    <a id="activitytab" href="#user-acti" data-toggle="tab">HOẠT ĐỘNG</a>
                </li>
            </ul>
            <div id="panelContent" class="tab-content clearfix">
                <!-- Public Tab -->
                <div class="tab-pane active" id="user-info">
                    @{ Html.RenderAction("UserInformation", "User");}
                </div>

                <!-- Friend -->
                <div class="tab-pane" id="user-friend">
                    @{ Html.RenderAction("FriendList", "User");}
                </div>

                <!-- Group -->
                <div class="tab-pane" id="user-group">
                    @{ Html.RenderAction("JoinedGroups", "User");}
                </div>

                <!-- Activity -->
                <div class="tab-pane" id="user-acti">
                    @{ Html.RenderAction("ActivityHistory", "User");}
                </div>

            </div>

        </div>
    </div>

</div>

