<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">

    <!-- Header -->
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12" style="margin-top: -20px">
            <h4 style="color: #049f88">Thư viện</h4>
            <div class="divider-holizon" style="margin-top: -8px; opacity: 0.8"></div>
        </div>
    </div>

    <div class="row">

        <!-- Album 1 -->
        <div class="col-md-3 col-sm-4">
            <div class="photo-album-container">
                <div class="photo-album">

                    <!-- Avata -->
                    <img src="~/images/1.jpg">
                    <div class="album-interaction"></div>
                    <div class="interaction-bar">

                        <!-- Album info -->
                        <div class="metadata">
                            <h5 class="album-title" style="font-weight: bold">Sản phẩm từ vỏ chai</h5>
                            <span class="album-photo-count" style="font-size: 12px; font-weight: normal">152 ảnh</span>
                        </div>

                        <!-- Interaction Bar -->
                        <div class="actions-tool">
                            <div class="row" style="margin-left: 0; margin-right: 0">

                                <div class="col-xs-9">
                                    <ul class="list-album-interaction">
                                        <li>
                                            <i class="glyphicon glyphicon-heart"></i>
                                            <span><strong>15</strong></span>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <span><strong>1</strong></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Xóa" style="color: #fff; padding-left: 0px;"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Album 2 -->
        <div class="col-md-3 col-sm-4">
            <div class="photo-album-container">
                <div class="photo-album">

                    <!-- Avata -->
                    <img src="~/images/2.jpg">
                    <div class="album-interaction"></div>
                    <div class="interaction-bar">

                        <!-- Album info -->
                        <div class="metadata">
                            <h5 class="album-title" style="font-weight: bold">Ảnh tuyên truyền</h5>
                            <span class="album-photo-count" style="font-size: 12px; font-weight: normal">30 ảnh</span>
                        </div>

                        <!-- Interaction Bar -->
                        <div class="actions-tool">
                            <div class="row" style="margin-left: 0; margin-right: 0">

                                <div class="col-xs-9">
                                    <ul class="list-album-interaction">
                                        <li>
                                            <i class="glyphicon glyphicon-heart"></i>
                                            <span><strong>5</strong></span>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <span><strong>1</strong></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Xóa" style="color: #fff; padding-left: 0px;"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Album 3 -->
        <div class="col-md-3 col-sm-4">
            <div class="photo-album-container">
                <div class="photo-album">

                    <!-- Avata -->
                    <img src="~/images/3.jpg">
                    <div class="album-interaction"></div>
                    <div class="interaction-bar">

                        <!-- Album info -->
                        <div class="metadata">
                            <h5 class="album-title" style="font-weight: bold">Ngày hội trưng bày sản phẩm từ vỏ chai</h5>
                            <span class="album-photo-count" style="font-size: 12px; font-weight: normal">125 ảnh</span>
                        </div>

                        <!-- Interaction Bar -->
                        <div class="actions-tool">
                            <div class="row" style="margin-left: 0; margin-right: 0">

                                <div class="col-xs-9">
                                    <ul class="list-album-interaction">
                                        <li>
                                            <i class="glyphicon glyphicon-heart"></i>
                                            <span><strong>15</strong></span>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <span><strong>1</strong></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Xóa" style="color: #fff; padding-left: 0px;"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Album 4 -->
        <div class="col-md-3 col-sm-4">
            <div class="photo-album-container">
                <div class="photo-album">

                    <!-- Avata -->
                    <img src="~/images/4.jpg">
                    <div class="album-interaction"></div>
                    <div class="interaction-bar">

                        <!-- Album info -->
                        <div class="metadata">
                            <h5 class="album-title" style="font-weight: bold">Thu gom vỏ chai ĐHKHXH NV</h5>
                            <span class="album-photo-count" style="font-size: 12px; font-weight: normal">99 ảnh</span>
                        </div>

                        <!-- Interaction Bar -->
                        <div class="actions-tool">
                            <div class="row" style="margin-left: 0; margin-right: 0">

                                <div class="col-xs-9">
                                    <ul class="list-album-interaction">
                                        <li>
                                            <i class="glyphicon glyphicon-heart"></i>
                                            <span><strong>15</strong></span>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <span><strong>1</strong></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Xóa" style="color: #fff; padding-left: 0px;"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Album 5 -->
        <div class="col-md-3 col-sm-4">
            <div class="photo-album-container">
                <div class="photo-album">

                    <!-- Avata -->
                    <img src="~/images/5.jpg">
                    <div class="album-interaction"></div>
                    <div class="interaction-bar">

                        <!-- Album info -->
                        <div class="metadata">
                            <h5 class="album-title" style="font-weight: bold">Ảnh bìa</h5>
                            <span class="album-photo-count" style="font-size: 12px; font-weight: normal">10 ảnh</span>
                        </div>

                        <!-- Interaction Bar -->
                        <div class="actions-tool">
                            <div class="row" style="margin-left: 0; margin-right: 0">

                                <div class="col-xs-9">
                                    <ul class="list-album-interaction">
                                        <li>
                                            <i class="glyphicon glyphicon-heart"></i>
                                            <span><strong>15</strong></span>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <span><strong>1</strong></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Xóa" style="color: #fff; padding-left: 0px;"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
